@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline; }

audio,
canvas,
video {
  display: inline-block; }

ol,
ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle; }

q,
blockquote {
  quotes: none; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: none; }

a img {
  border: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block; }

img {
  font-size: 0;
  height: auto; }

img,
object,
embed,
iframe {
  max-width: 100%; }

@font-face {
  font-family: "iconmoon";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/icons/iconmoon.eot?") format("eot"), url("../fonts/icons/iconmoon.woff2") format("woff2"), url("../fonts/icons/iconmoon.woff") format("woff"), url("../fonts/icons/iconmoon.ttf") format("truetype"), url('../fonts/icons/iconmoon.svg#str-replace(iconmoon, " ", "_")') format("svg"); }

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Gilroy/Gilroy-Black.eot?") format("eot"), url("../fonts/Gilroy/Gilroy-Black.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Black.ttf") format("truetype"), url('../fonts/Gilroy/Gilroy-Black.svg#str-replace(Gilroy, " ", "_")') format("svg"); }

@font-face {
  font-family: "Gilroy";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Gilroy/Gilroy-Black-Italic.eot?") format("eot"), url("../fonts/Gilroy/Gilroy-Black-Italic.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Black-Italic.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Black-Italic.ttf") format("truetype"), url('../fonts/Gilroy/Gilroy-Black-Italic.svg#str-replace(Gilroy, " ", "_")') format("svg"); }

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Gilroy/Gilroy-SemiBold.eot?") format("eot"), url("../fonts/Gilroy/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype"), url('../fonts/Gilroy/Gilroy-SemiBold.svg#str-replace(Gilroy, " ", "_")') format("svg"); }

@font-face {
  font-family: "Gilroy";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/Gilroy/Gilroy-SemiBold-Italic.eot?") format("eot"), url("../fonts/Gilroy/Gilroy-SemiBold-Italic.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-SemiBold-Italic.woff") format("woff"), url("../fonts/Gilroy/Gilroy-SemiBold-Italic.ttf") format("truetype"), url('../fonts/Gilroy/Gilroy-SemiBold-Italic.svg#str-replace(Gilroy, " ", "_")') format("svg"); }

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Gilroy/Gilroy-Medium.eot?") format("eot"), url("../fonts/Gilroy/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype"), url('../fonts/Gilroy/Gilroy-Medium.svg#str-replace(Gilroy, " ", "_")') format("svg"); }

@font-face {
  font-family: "Gilroy";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/Gilroy/Gilroy-Medium-Italic.eot?") format("eot"), url("../fonts/Gilroy/Gilroy-Medium-Italic.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Medium-Italic.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Medium-Italic.ttf") format("truetype"), url('../fonts/Gilroy/Gilroy-Medium-Italic.svg#str-replace(Gilroy, " ", "_")') format("svg"); }

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Gilroy/Gilroy-Regular.eot?") format("eot"), url("../fonts/Gilroy/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype"), url('../fonts/Gilroy/Gilroy-Regular.svg#str-replace(Gilroy, " ", "_")') format("svg"); }

@font-face {
  font-family: "Gilroy";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Gilroy/Gilroy-Italic.eot?") format("eot"), url("../fonts/Gilroy/Gilroy-Italic.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Italic.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Italic.ttf") format("truetype"), url('../fonts/Gilroy/Gilroy-Italic.svg#str-replace(Gilroy, " ", "_")') format("svg"); }

@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot?") format("eot"), url("../fonts/ProximaNova/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype"), url('../fonts/ProximaNova/ProximaNova-Bold.svg#str-replace(ProximaNova, " ", "_")') format("svg"); }

@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/ProximaNova/ProximaNova-SemiBold.eot?") format("eot"), url("../fonts/ProximaNova/ProximaNova-SemiBold.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-SemiBold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-SemiBold.ttf") format("truetype"), url('../fonts/ProximaNova/ProximaNova-SemiBold.svg#str-replace(ProximaNova, " ", "_")') format("svg"); }

@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/ProximaNova/ProximaNova-Medium.eot?") format("eot"), url("../fonts/ProximaNova/ProximaNova-Medium.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Medium.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Medium.ttf") format("truetype"), url('../fonts/ProximaNova/ProximaNova-Medium.svg#str-replace(ProximaNova, " ", "_")') format("svg"); }

@font-face {
  font-family: "ProximaNova";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot?") format("eot"), url("../fonts/ProximaNova/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype"), url('../fonts/ProximaNova/ProximaNova-Regular.svg#str-replace(ProximaNova, " ", "_")') format("svg"); }

@font-face {
  font-family: "LibreBaskerville";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/LibreBaskerville/LibreBaskerville.eot?") format("eot"), url("../fonts/LibreBaskerville/LibreBaskerville.woff2") format("woff2"), url("../fonts/LibreBaskerville/LibreBaskerville.woff") format("woff"), url("../fonts/LibreBaskerville/LibreBaskerville.ttf") format("truetype"), url('../fonts/LibreBaskerville/LibreBaskerville.svg#str-replace(LibreBaskerville, " ", "_")') format("svg"); }

@font-face {
  font-family: "LibreBaskerville";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/LibreBaskerville/LibreBaskerville-Italic.eot?") format("eot"), url("../fonts/LibreBaskerville/LibreBaskerville-Italic.woff2") format("woff2"), url("../fonts/LibreBaskerville/LibreBaskerville-Italic.woff") format("woff"), url("../fonts/LibreBaskerville/LibreBaskerville-Italic.ttf") format("truetype"), url('../fonts/LibreBaskerville/LibreBaskerville-Italic.svg#str-replace(LibreBaskerville, " ", "_")') format("svg"); }

.container {
  max-width: 100%;
  margin-left: 0.625rem;
  margin-right: 0.625rem; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 48em) {
    .container {
      max-width: 100%;
      margin-left: 1.25rem;
      margin-right: 1.25rem; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 64em) {
    .container {
      max-width: 100%;
      margin-left: 4.0625rem;
      margin-right: 4.0625rem; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }
  @media (min-width: 80em) {
    .container {
      max-width: 73.5rem;
      margin-left: auto;
      margin-right: auto; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }

@media screen and (min-width: 64em) and (max-width: 104.9375em) {
  .container.container--large {
    margin-left: 30px;
    margin-right: 30px;
    max-width: inherit; } }

@media (min-width: 105em) {
  .container.container--large {
    max-width: 90.625rem;
    margin-left: auto;
    margin-right: auto; }
    .container.container--large:after {
      content: " ";
      display: block;
      clear: both; } }

[class^='icon-']:before,
[class*=' icon-']:before, blockquote:before,
.link--arrow:after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'iconmoon';
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  speak: none;
  text-transform: none; }

.icon-search2:before {
  content: ""; }

.icon-facebook:before {
  content: ""; }

.icon-linkedin:before {
  content: ""; }

.icon-twitter:before {
  content: ""; }

.icon-quote:before {
  content: ""; }

.icon-read-more:before {
  content: ""; }

.icon-chevron-thin-right:before {
  content: ""; }

.icon-chevron-thin-left:before {
  content: ""; }

.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  line-height: 1.7;
  color: #000;
  margin-bottom: 1.25rem; }

.h1,
h1 {
  font-size: 1.875rem;
  line-height: 1.35;
  letter-spacing: 0.03125rem; }
  @media (min-width: 48em) {
    .h1,
    h1 {
      font-size: 3.5rem;
      line-height: 1.3;
      letter-spacing: 0; } }

.h2,
h2 {
  font-size: 1.875rem;
  line-height: 1.4;
  letter-spacing: 0.07812rem; }
  @media (min-width: 48em) {
    .h2,
    h2 {
      font-size: 2.625rem;
      letter-spacing: 0; } }

.h3,
h3 {
  font-size: 1.5625rem;
  letter-spacing: -0.03125rem; }
  @media (min-width: 48em) {
    .h3,
    h3 {
      font-size: 1.875rem;
      letter-spacing: 0.03125rem; } }

.h4,
h4 {
  font-size: 1.375rem; }

.h5,
h5 {
  font-size: 1.25rem; }

.h6,
h6 {
  font-size: 1.125rem; }

p {
  font-size: 1.125rem;
  line-height: 1.65;
  margin-bottom: 0.9375rem; }

em {
  font-style: italic; }

b,
strong {
  font-weight: 700; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super; }

small {
  font-size: smaller; }

abbr {
  border-bottom: 0.0625rem dotted #333;
  cursor: help; }

tt,
code,
kbd,
samp {
  font-family: monospace; }

blockquote {
  font-family: "LibreBaskerville", sans-serif;
  font-size: 1.25rem;
  font-style: italic;
  line-height: 1.7;
  display: block; }
  blockquote:before {
    content: "";
    color: #1ad6f5;
    display: block;
    margin-bottom: 1.875rem; }
  @media (min-width: 64em) {
    blockquote {
      font-size: 23px;
      line-height: 1.8; }
      blockquote:before {
        margin-bottom: 0.9375rem; } }

a,
.link {
  color: #1481d7;
  text-decoration: none;
  transition: all 0.3s ease;
  display: inline-block;
  cursor: pointer; }
  a:active, a:hover,
  .link:active,
  .link:hover {
    color: #1065a8; }
  
  .link--arrow {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    
    .link--arrow:after {
      content: "";
      margin-left: 1rem;
      color: #1481d7;
      transition: all 0.3s ease; }
    
    .link--arrow:active:after,
    .link--arrow:hover:after {
      color: #1065a8; }
  .header ul.menu li a, .footer a,
  .link--text {
    color: #333; }
  
  .link--white {
    color: #fff; }
    
    .link--white:after {
      color: #fff; }
    
    .link--white:active,
    .link--white:hover {
      color: #cccccc; }
      
      .link--white:active:after,
      .link--white:hover:after {
        color: #cccccc; }

.list-wrap ul li,
.list li {
  padding-left: 2.1875rem;
  margin-bottom: 0.8125rem;
  position: relative; }
  .list-wrap ul li:before,
  .list li:before {
    content: '\2022';
    position: absolute;
    display: block;
    top: -0.625rem;
    left: 0;
    position: absolute;
    margin-top: 0.5rem; }

.list-wrap ol,
.list--ol {
  list-style: decimal;
  padding: 0rem 1.125rem; }
  .list-wrap ol li,
  .list--ol li {
    padding-left: 0.9375rem; }
    .list-wrap ol li:before,
    .list--ol li:before {
      content: none; }

table {
  margin-bottom: 0.9375rem;
  width: 100%; }
  @media (min-width: 64em) {
    table {
      min-width: 100%; } }

td,
th {
  border-bottom: 0.0625rem solid #333;
  min-width: 7.5rem;
  padding: 0.625rem 1.125rem;
  vertical-align: top; }
  tbody tr:first-of-type td, tbody tr:first-of-type
  th {
    border-top: 0.0625rem solid #333; }

th {
  font-weight: 700; }

.table-responsive {
  margin-bottom: 0.9375rem;
  overflow-x: auto;
  width: 100%; }
  .table-responsive table {
    margin-bottom: 0; }


.btn,
button,
input[type="submit"] {
  font-family: "Gilroy", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 1.0625rem 2.3125rem;
  background-color: #1481d7;
  color: #fff;
  text-align: center;
  width: 100%;
  border: none;
  cursor: pointer; }
  @media (min-width: 48em) {
    
    .btn,
    button,
    input[type="submit"] {
      width: auto;
      display: inline-block; } }
  
  .btn:active,
  button:active,
  input[type="submit"]:active,
  .btn:hover,
  button:hover,
  input[type="submit"]:hover {
    color: #fff;
    background-image: radial-gradient(circle at 0 0, #1481d7, #1ad6f5); }
  
  .btn--radius {
    border-radius: 3.125rem; }
  
  .btn--small {
    padding: 0.5rem 1.25rem; }
  
  .btn--long {
    padding: 0.875rem 2.5rem;
    min-width: 15.3125rem; }
  
  .btn--transparent {
    color: #fff;
    background-color: transparent;
    border: 0.1875rem solid #fff;
    border-radius: 0.1875rem; }

input[type="tel"],
input[type="text"],
input[type="email"],
input[type="number"], textarea {
  font-family: "ProximaNova" , sans-serif;
  font-size: 1rem;
  font-weight: 400;
  height: 2.75rem;
  padding: 0.4375rem 1.25rem;
  transition: all 0.3s ease-in-out;
  width: 100%; }
  input[type="tel"]::-ms-clear,
  input[type="text"]::-ms-clear,
  input[type="email"]::-ms-clear,
  input[type="number"]::-ms-clear, textarea::-ms-clear {
    display: none; }
  input[type="tel"]::-webkit-input-placeholder,
  input[type="text"]::-webkit-input-placeholder,
  input[type="email"]::-webkit-input-placeholder,
  input[type="number"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #333;
    opacity: 1; }
  input[type="tel"]::-moz-placeholder,
  input[type="text"]::-moz-placeholder,
  input[type="email"]::-moz-placeholder,
  input[type="number"]::-moz-placeholder, textarea::-moz-placeholder {
    color: #333;
    opacity: 1; }
  input[type="tel"]:-ms-input-placeholder,
  input[type="text"]:-ms-input-placeholder,
  input[type="email"]:-ms-input-placeholder,
  input[type="number"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #333;
    opacity: 1; }
  input.error[type="tel"],
  input.error[type="text"],
  input.error[type="email"],
  input.error[type="number"], textarea.error {
    color: red;
    border-color: red; }
    input.error[type="tel"]::-webkit-input-placeholder,
    input.error[type="text"]::-webkit-input-placeholder,
    input.error[type="email"]::-webkit-input-placeholder,
    input.error[type="number"]::-webkit-input-placeholder, textarea.error::-webkit-input-placeholder {
      color: red; }
    input.error[type="tel"]::-moz-placeholder,
    input.error[type="text"]::-moz-placeholder,
    input.error[type="email"]::-moz-placeholder,
    input.error[type="number"]::-moz-placeholder, textarea.error::-moz-placeholder {
      color: red; }
    input.error[type="tel"]:-ms-input-placeholder,
    input.error[type="text"]:-ms-input-placeholder,
    input.error[type="email"]:-ms-input-placeholder,
    input.error[type="number"]:-ms-input-placeholder, textarea.error:-ms-input-placeholder {
      color: red; }
    input.error[type="tel"]:-moz-placeholder,
    input.error[type="text"]:-moz-placeholder,
    input.error[type="email"]:-moz-placeholder,
    input.error[type="number"]:-moz-placeholder, textarea.error:-moz-placeholder {
      color: red; }
    input.error[type="tel"]:focus,
    input.error[type="text"]:focus,
    input.error[type="email"]:focus,
    input.error[type="number"]:focus, textarea.error:focus {
      outline: none; }
  input[disabled][type="tel"],
  input[disabled][type="text"],
  input[disabled][type="email"],
  input[disabled][type="number"], textarea[disabled] {
    cursor: not-allowed; }

textarea {
  padding: 0.75rem 1.5625rem;
  height: auto; }

select {
  font-family: "ProximaNova" , sans-serif;
  width: 100%;
  height: 2.75rem;
  font-size: 1rem;
  padding: 0.4375rem 1.25rem;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  cursor: pointer; }

fieldset legend {
  margin-bottom: 0.9375rem; }

.form-item,
.form-actions {
  margin: 0rem 0rem 0.875rem; }

.form-checkboxes .form-item,
.form-radios .form-item {
  margin-bottom: 0.5rem; }

.bg--primary {
  background-color: #1481d7; }

.bg--white {
  background-color: #fff; }

.bg--black {
  background-color: #000; }

.bg--gray {
  background-color: #eee; }

.font--bold {
  font-weight: 700; }

.font--medium {
  font-weight: 500; }

.font--italic {
  font-style: italic; }

.text--center {
  text-align: center; }

.text--left {
  text-align: left; }

.text--right {
  text-align: right; }

.text--white {
  color: #fff; }

.text--uppercase {
  text-transform: uppercase; }

.text--underline {
  text-decoration: underline; }

.clearfix:before, .clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

@media screen and (max-width: 47.9375em) {
  .hidden-mobile {
    display: none; } }

@media screen and (max-width: 63.9375em) {
  .hidden-tablet {
    display: none; } }

@media (min-width: 64em) {
  .hidden-desktop {
    display: none; } }

@viewport {
  zoom: 1;
  width: extend-to-zoom; }

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1; }

html {
  font-family: "ProximaNova" , sans-serif;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: 1.4;
  color: #333; }

body.show-menu {
  overflow: hidden; }

ul.menu li {
  margin-bottom: 0; }

.header-top {
  width: 100%; }
  @media screen and (max-width: 63.9375em) {
    .header-top {
      display: none; } }
  .header-top ul.menu {
    float: right; }
    @media (min-width: 64em) {
      .header-top ul.menu {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    .header-top ul.menu li.menu-item {
      padding: 0.625rem 1.25rem; }
      .header-top ul.menu li.menu-item:last-child {
        padding-right: 0; }
      .header-top ul.menu li.menu-item a {
        font-size: 0.875rem; }

.header-main {
  padding: 0.3125rem 0rem;
  background: white; }

@media (min-width: 64em) {
  .header-main__wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.header-main__left {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .header-main__left a {
    display: block;
    line-height: 0; }

.header-main__hamburger {
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer; }
  @media (min-width: 64em) {
    .header-main__hamburger {
      display: none; } }
  .header-main__hamburger span {
    position: absolute;
    top: 0.75rem;
    left: 50%;
    width: 1.25rem;
    border-bottom: 0.125rem solid #000;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s; }
    .header-main__hamburger span:nth-child(2) {
      top: 1.125rem; }
    .header-main__hamburger span:nth-child(3) {
      top: 1.5rem; }

@media screen and (max-width: 63.9375em) {
  .header-main__menu {
    display: none; } }

@media (min-width: 64em) {
  .header-main__menu ul.menu {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.header-main__menu ul.menu li.menu-item {
  padding: 0.625rem 1.875rem; }
  .header-main__menu ul.menu li.menu-item a {
    font-size: 1.25rem; }

@media screen and (max-width: 63.9375em) {
  .header-main__right {
    display: none; } }

.header-main__right i {
  display: inline; }
  .header-main__right i:before {
    font-size: 0.6875rem;
    margin-left: 0.8125rem; }

.footer {
  padding: 3.75rem 0rem; }
  .footer a {
    font-size: 0.75rem; }
    @media (min-width: 64em) {
      .footer a {
        font-size: 0.875rem; } }

@media (min-width: 64em) {
  .footer-column {
    margin-bottom: 2.5rem; } }

@media (min-width: 64em) {
  .footer-column .block-footer-menu {
    width: 14.03509%;
    float: left;
    margin-right: 3.15789%; }
    .footer-column .block-footer-menu:last-child {
      margin-right: 0; } }

.footer-column .block-footer-menu ul.menu li {
  margin-bottom: 17px; }

.footer-column__title {
  text-transform: uppercase; }

.footer-column__logo {
  line-height: 0;
  margin-bottom: 30px; }

@media screen and (max-width: 63.9375em) {
  .footer-column__social {
    text-align: center; } }

.footer-column__social a {
  margin-right: 2.1875rem; }
  .footer-column__social a:last-child {
    margin-right: 0; }

@media (min-width: 64em) {
  .footer-bottom {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; } }

.footer-bottom__legal {
  width: 100%; }
  @media (min-width: 64em) {
    .footer-bottom__legal {
      width: 73.71274%;
      float: left;
      margin-right: 5.14905%; } }
  @media (min-width: 64em) {
    .footer-bottom__legal {
      width: 82.80702%;
      float: left;
      margin-right: 3.15789%; } }
  .footer-bottom__legal ul.menu {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 63.9375em) {
      .footer-bottom__legal ul.menu {
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    .footer-bottom__legal ul.menu li {
      padding: 0.625rem 0.375rem; }
      .footer-bottom__legal ul.menu li:first-child {
        padding-left: 0; }
      .footer-bottom__legal ul.menu li:last-child {
        padding-right: 0; }
      .footer-bottom__legal ul.menu li a {
        font-size: 0.75rem; }

@media screen and (max-width: 63.9375em) {
  .footer-bottom__copyright {
    text-align: center; } }

.footer-bottom__copyright span {
  font-size: 0.75rem; }
