// COLORS
// Define all color variables in this document
// Use http://chir.ag/projects/name-that-color/ for naming a color.

$black: #222;
$white: #fff;
$navy: #1ad6f5;
$blue: #1481d7;
$silver: #ccc;
$red: red;
$gray: #eee;
$dark-gray: #727272;
$pigeon-post: #aec9de;
$pigeon-post-light: rgba($pigeon-post, .75);
