@mixin icomoon-ffw {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'iconFFW';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

$icon-home: "\e905";
$icon-search: "\e986";
$icon-twitter: "\ea96";
$icon-facebook: "\ea90";
$icon-linkedin: "\eaca";
$icon-arrow-down: "\e902";
$icon-arrow-link: "\ea3c";
$icon-arrow-right: "\e901";
