<div class="block-slider-quote">
  <div class="block-slider-quote__author">
    {{ sliderQuote.author }}
  </div>
  <blockquote>
    {{ sliderQuote.quote }}
  </blockquote>
  <div class="block-slider-quote__link">
    {{ sliderQuote.link }}
  </div>
</div>