<div class="slider-quotes__item" id="{{ sliderQuote.tabID }}">
  <div class="slider-quotes__author">
    {{ sliderQuote.author }}
  </div>
  <blockquote>
    {{ sliderQuote.quote }}
  </blockquote>
  <div class="slider-quotes__link">
    {{ sliderQuote.link }}
  </div>
</div>