<div class="slider">
  <div class="container">
    <div class="slider-title h2 hidden-desktop">Our customers benefit from having the right data at the right time</div>
    <div class="slider-wrap">
      <div class="block-slider-quotes bg--black text--white">
        <div class="slider-quotes js-slider">
          <div class="slider-quotes__item" id="tab-1">
            <div class="slider-quotes__author">
              Kyle Welsh, CISO Boeing Employees' Credit Union 5
            </div>
            <blockquote>
              We reduced data risk and provided production-like data environments for developers.
            </blockquote>
            <div class="slider-quotes__link">
              <a target="" class="link--arrow link--white font--medium" href="#">Learn more</a>
            </div>
          </div>
          <div class="slider-quotes__item" id="tab-2">
            <div class="slider-quotes__author">
              2 Kyle Welsh, CISO Boeing Employees' Credit Union 555555
            </div>
            <blockquote>
              2 We reduced data risk and provided production-like data environments for developers.
            </blockquote>
            <div class="slider-quotes__link">
              <a target="" class="link--arrow link--white font--medium" href="#">Learn more</a>
            </div>
          </div>
          <div class="slider-quotes__item" id="tab-3">
            <div class="slider-quotes__author">
              3 Kyle Welsh, CISO Boeing Employees' Credit Union 555555
            </div>
            <blockquote>
              3 We reduced data risk and provided production-like data environments for developers.
            </blockquote>
            <div class="slider-quotes__link">
              <a target="" class="link--arrow link--white font--medium" href="#">Learn more</a>
            </div>
          </div>
          <div class="slider-quotes__item" id="tab-4">
            <div class="slider-quotes__author">
              4 Kyle Welsh, CISO Boeing Employees' Credit Union 555555
            </div>
            <blockquote>
              4 We reduced data risk and provided production-like data environments for developers.
            </blockquote>
            <div class="slider-quotes__link">
              <a target="" class="link--arrow link--white font--medium" href="#">Learn more</a>
            </div>
          </div>
          <div class="slider-quotes__item" id="tab-5">
            <div class="slider-quotes__author">
              5 Kyle Welsh, CISO Boeing Employees' Credit Union 555555
            </div>
            <blockquote>
              5 We reduced data risk and provided production-like data environments for developers.
            </blockquote>
            <div class="slider-quotes__link">
              <a target="" class="link--arrow link--white font--medium" href="#">Learn more</a>
            </div>
          </div>
          <div class="slider-quotes__item" id="tab-6">
            <div class="slider-quotes__author">
              6 Kyle Welsh, CISO Boeing Employees' Credit Union 555555
            </div>
            <blockquote>
              6 We reduced data risk and provided production-like data environments for developers.
            </blockquote>
            <div class="slider-quotes__link">
              <a target="" class="link--arrow link--white font--medium" href="#">Learn more</a>
            </div>
          </div>
          <div class="slider-quotes__item" id="tab-7">
            <div class="slider-quotes__author">
              7 Kyle Welsh, CISO Boeing Employees' Credit Union 555555
            </div>
            <blockquote>
              7 We reduced data risk and provided production-like data environments for developers.
            </blockquote>
            <div class="slider-quotes__link">
              <a target="" class="link--arrow link--white font--medium" href="#">Learn more</a>
            </div>
          </div>
          <div class="slider-quotes__item" id="tab-8">
            <div class="slider-quotes__author">
              8 Kyle Welsh, CISO Boeing Employees' Credit Union 555555
            </div>
            <blockquote>
              8 We reduced data risk and provided production-like data environments for developers.
            </blockquote>
            <div class="slider-quotes__link">
              <a target="" class="link--arrow link--white font--medium" href="#">Learn more</a>
            </div>
          </div>
          <div class="slider-quotes__item" id="tab-9">
            <div class="slider-quotes__author">
              9 Kyle Welsh, CISO Boeing Employees' Credit Union 555555
            </div>
            <blockquote>
              9 We reduced data risk and provided production-like data environments for developers.
            </blockquote>
            <div class="slider-quotes__link">
              <a target="" class="link--arrow link--white font--medium" href="#">Learn more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="block-slider-logos">
        <div class="slider-title h3 hidden-tablet">Our customers benefit from having the right data at the right time</div>
        <div class="slider-logos js-slider">
          <div id="#tab-1" class="slider-logos__item">
            <img src="https://via.placeholder.com/180x120.png">
          </div>
          <div id="#tab-2" class="slider-logos__item">
            <img src="https://via.placeholder.com/180x120.png">
          </div>
          <div id="#tab-3" class="slider-logos__item">
            <img src="https://via.placeholder.com/180x120.png">
          </div>
          <div id="#tab-4" class="slider-logos__item">
            <img src="https://via.placeholder.com/180x120.png">
          </div>
          <div id="#tab-5" class="slider-logos__item">
            <img src="https://via.placeholder.com/180x120.png">
          </div>
          <div id="#tab-6" class="slider-logos__item">
            <img src="https://via.placeholder.com/180x120.png">
          </div>
          <div id="#tab-7" class="slider-logos__item">
            <img src="https://via.placeholder.com/180x120.png">
          </div>
          <div id="#tab-8" class="slider-logos__item">
            <img src="https://via.placeholder.com/180x120.png">
          </div>
          <div id="#tab-9" class="slider-logos__item">
            <img src="https://via.placeholder.com/180x120.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>