.footer {
  padding: 80px 0; }
  .footer a {
    color: #727272; }
  .footer-column {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 50px; }
    .footer-column__title {
      font-size: 0.875rem;
      font-weight: 500;
      letter-spacing: 0.06rem;
      line-height: 1.5;
      margin-bottom: 1.0625rem;
      margin-top: 0;
      text-transform: uppercase; }
    .footer-column__first {
      text-align: center; }
      @media (min-width: 1024px) {
        .footer-column__first {
          width: 10%; } }
      @media (max-width: 1023px) {
        .footer-column__first .footer-logo {
          display: none; } }
      .footer-column__first .social-menu {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
    .footer-column__second {
      width: 80%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      @media (max-width: 1023px) {
        .footer-column__second {
          display: none; } }
      .footer-column__second .menu-item {
        margin-bottom: 20px; }
  @media (min-width: 1024px) {
    .footer-bottom {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .footer-bottom__menu {
    margin-bottom: 30px; }
    @media (min-width: 768px) {
      .footer-bottom__menu li.menu-item {
        padding: 10px 20px; } }
    .footer-bottom__menu .menu {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .footer-bottom__copyright {
    text-align: center; }
