<blockquote>
  We reduced data risk and provided production-like data environments for developers.
</blockquote>
<p></p>
<div class="bg--black" style="padding: 20px">
  <blockquote class="text--white">
    We reduced data risk and provided production-like data environments for developers.
  </blockquote>
</div>
