<div class="block-events">
	<div class="container">
		<h2 class="page-title text--center">
			{{ blockEvents.pagetitle }}
		</h2>
		<div class="block-events__group">
			<div class="block-events__filter">
				{{ blockEvents.exposedFilter }}
			</div>
			<div class="block-events__content">
				{{ blockEvents.keywords }}
        {{ blockEvents.contentList }}
			</div>
		</div>
	</div>
</div>
