<div class="block-slider">
  <div class="slider-quotes">
    <div class="block-slider__title h2 container hidden-desktop">
      {{ blockSliders.title }}
    </div>
    <div class="slider-quotes__list js-slider-for bg--black text--white">
      {{ blockSliders.sliderQuotes }}
    </div>
  </div>
  <div class="container">
    <div class="slider-logos">
      <div class="block-slider__title h3 hidden-tablet">
        {{ blockSliders.title }}
      </div>
      <div class="slider-logos__list js-slider-nav">
        {{ blockSliders.sliderLogos }}
      </div>
    </div>
  </div>
</div>