<header class="header">
  <div class="header-top link-wrap font--semi text--right bg--gray hidden-mobile hidden-tablet">
    <div class="container container--large">
      {{ headerTop }}
    </div>
  </div>
  <div class="header-main">
    <div class="container container--large">
      <div class="header-main__wrap">
        <div class="header-main__left">
          {{ headerMain.left }}
          <div class="header-main__hamburger hidden-desktop js-open-menu">
            <span class="black-line"></span>
            <span class="black-line"></span>
            <span class="black-line"></span>
          </div>
        </div>
        <div class="header-main__menu link-wrap text--center hidden-mobile hidden-tablet">
          {{ headerMain.center }}
        </div>
        <div class="header-main__right text--right hidden-mobile hidden-tablet">
          {{ headerMain.right }}
        </div>
      </div>
    </div>
</header>