<header class="header">
  <div class="header-top">
    <div class="container">
      <ul class="top-menu">
        <li class="menu-item">English</li>
        <li class="menu-item">Contact</li>
        <li class="menu-item">Support</li>
        <li class="menu-item">Login</li>
      </ul>
    </div>
  </div>
  <div class="header-main">
    <div class="container">
    <div class="header-main__wrap">
      <div class="header-main__left">
        <a href="/" title="Home" rel="home" class="logo">
          <img src="https://i.imgur.com/60lPoCe.png" alt="Home">
        </a>
        <div class="header-main__hamburger js-open-menu">
          <span class="black-line"></span>
          <span class="black-line"></span>
          <span class="black-line"></span>
        </div>
      </div>
      <div class="header-main__menu">
        <ul class="main-menu">
          <li class="menu-item">Product</li>
          <li class="menu-item">Solution</li>
          <li class="menu-item">Resources</li>
          <li class="menu-item">Company</li>
        </ul>
      </div>
      <div class="header-main__right">
        <a href="#" class="btn btn--radius">Get a Demo</a>
        <span class="icon-search"></span>
      </div>
    </div>
  </div>
</header>