// Create a separate component, we need to require some variables and mixins.
// Required imports
@import '../../vendor/susy/susy';
@import '../imports/functions';
@import '../imports/colors';
@import '../imports/variables';
@import '../imports/mixins';

.banner {
  position: relative;
}

.banner-bg {
  line-height: 0;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: rem(1200px);

    @include susy-media(desktop) {
      max-height: rem(1150px);
    }

    @include susy-media(desktopLarge) {
      max-height: rem(920px);
    }

    @include susy-media(desktopWide) {
      max-height: rem(725px);
    }
  }
}

.banner-content {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.banner-content__wrap {
  @include susy-media(desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.banner-content__title {
  @include susy-media(tablet) {
    margin-bottom: rem(40px);
  }
}

.banner-content__description {
  @include susy-media(tablet) {
    margin-bottom: rem(40px);
  }

  p {
    font-size: rem(24px);
    letter-spacing: rem(-0.3px);
    line-height: 1.5;
  }
}

.banner-content__left {
  @include susy-media(desktop) {
    width: 52%;
  }
}

.banner-content__form {
  margin-bottom: rem(30px);

  form {
    @include susy-media(tablet) {
      display: flex;
      margin-bottom: rem(25px);
    }

    input {
      height: auto;
      padding: rem(20px);
      border: none;
      margin-right: 0;
      margin-bottom: rem(10px);

      @include susy-media(tablet) {
        width: 44%;
        margin-bottom: 0;
      }

      @include susy-media(desktopLarge) {
        width: 57%;
      }
    }

    button {
      padding: rem(18px 10px);

      @include susy-media(desktop) {
        width: 51%;
      }

      @include susy-media(desktopLarge) {
        width: 40%;
      }
    }
  }
}

.banner-content__links {
  display: flex;
  margin-bottom: rem(40px);

  @include susy-media(tablet) {
    margin-bottom: rem(80px);
  }

  @include susy-media(desktop) {
    margin-bottom: 0;
  }

  .prefix {
    color: $primary-color;
    font-size: rem(12px);
    line-height: 1;
    padding: rem(5px 13px);
    border: rem(1px) solid $primary-color;
    border-radius: rem(6px);
    margin-right: rem(10px);
  }
}

.banner-content__slider {
  @include susy-media(desktop) {
    width: 40%;
  }

  @include susy-media(desktopLarge) {
    width: 32%;
  }

  .js-banner-slider {
    position: relative;
  }

  .slick-arrow {
    position: absolute;
    background: white;
    padding: rem(15px);
    z-index: 2;
    right: 0;
    bottom: 0;
    line-height: 1;
    cursor: pointer;

    &.left {
      right: rem(47px);
    }
  }
}

.banner-content__slider__item {
  position: relative;
  padding-bottom: rem(48px);
}

.banner-content__slider__image {
  img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    max-height: rem(400px);
  }
}

.banner-content__slider__image--small {
  position: absolute;
  right: rem(93px);
  bottom: 0;
}
