// Create a separate component, we need to require some variables and mixins.
// Required imports
@import '../../vendor/susy/susy';
@import '../imports/functions';
@import '../imports/colors';
@import '../imports/variables';
@import '../imports/mixins';


.block-slider {
  margin-bottom: rem(94px);

  @include susy-media(desktop) {
    overflow: hidden;
  }

  .container {
    @include susy-media(mobiletabletOnly) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.block-slider__title,
.block-slider__group,
.block-slider__quotes {

  @include susy-media(tabletOnly) {
    padding-left: $container-margin-tablet;
    padding-right: $container-margin-tablet;
  }

  @include susy-media(mobileOnly) {
    padding-left: $container-margin;
    padding-right: $container-margin;
  }
}

.block-slider__title {
  letter-spacing: rem(1px);
  padding-top: rem(40px);
  margin-bottom: rem(40px);

  &:after {
    @include susy-media(tabletOnly) {
      left: $container-margin-tablet;
    }
  
    @include susy-media(mobileOnly) {
      left: $container-margin;
    }
  }

  @include susy-media(tablet) {
    font-size: rem(34px);
    line-height: 1.35;
  }

  @include susy-media(desktop) {
    padding-top: rem(80px);
    margin-bottom: rem(30px);
  }
}

.block-slider__inner {
  display: flex;
  flex-wrap: wrap;
}

.block-slider__group {
  order: 3;
  overflow: hidden;

  @include susy-media(desktop) {
    order: unset;
    width: 60%;
    padding-right: rem(40px);
    overflow: inherit;
  }

  @include susy-media(desktopLarge) {
    padding-right: rem(80px);
  }
}

.block-slider__logos {
  margin-left: -5px;
  margin-right: -5px;

  .slick-list {
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: rem(20px);

    @include susy-media(desktop) {
      overflow: inherit;
    }
  }

  .slick-track {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;

    @include susy-media(desktop) {
      width: 100% !important;
    }
  }
}

.block-slider-logo {
  width: calc((100% - 20px) / 2);
  padding: rem(20px);
  display: flex !important;
  align-self: stretch;
  height: auto;
  cursor: pointer;

  @include susy-media(tablet) {
    width: calc((100% - 10px) / 4);
  }

  @include susy-media(desktop) {
    width: calc(100% / 3) !important;
    margin-top: rem(40px);
  }

  img {
    margin: auto;
    height: auto;
  }

  &.tab-active,
  &.slick-current {
    box-shadow: $silver 0px 3px 8px;
    background: $white;
  }
}

.block-slider__quotes {
  width: 100%;
  padding: rem(40px 40px 43px 10px);
  margin-bottom: rem(32px);
  position: relative;

  @include susy-media(tablet) {
    padding: rem(40px 20px);
  }

  @include susy-media(desktop) {
    width: 40%;
    margin-bottom: 0;
    padding: rem(105px 0 0 60px);
  }

  @include susy-media(desktopLarge) {
    padding: rem(150px 0 0 80px);
  }

  &:after {
    @include susy-media(desktop) {
      position: absolute;
      content: "";
      background-color: $black;
      top: 0;
      left: 0;
      width: 50vw;
      height: 100%;
    }
  }

  .slick-list {
    z-index: 1;
  }
}

.block-slider-quote__author {
  font-size: rem(30px);
  letter-spacing: rem(1px);
  margin-bottom: rem(15px);

  @include susy-media(desktop) {
    font-size: rem(37px);
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: 0;
    margin-bottom: rem(40px);
  }
}

.block-slider-quote__link {
  margin-top: rem(25px);
  font-size: rem(18px);
}

