// Create a separate component, we need to require some variables and mixins.
// Required imports
@import '../../vendor/susy/susy';
@import '../imports/functions';
@import '../imports/colors';
@import '../imports/variables';
@import '../imports/mixins';
@import '../imports/icons-variables';

.page-header {
  padding: rem(65px 0);
}

.page-header__linkbackto {
  font-size: rem(16px);
  margin-bottom: rem(15px);
}

.page-header__categories {
  font-size: rem(20px);

  @include susy-media(desktop) {
    font-size: rem(23px);
  }
}
