<div class="banner-content__slider__item">
  <div class="banner-content__slider__image">
    {{ sliderItem.bigImage}}
  </div>
  <div class="banner-content__slider__image--small">
    {{ sliderItem.smallImage}}
  </div>
</div>