<div class="banner">
  <div class="container--large">
    <div class="banner-content">
      <h1 class="banner-content__title">A platform for DevOps Test Data Management</h1>
      <div class="banner-content__description">
        <p>The only API-first data platform for the multicloud that automates data security, while rapidly deploying data to accelerate development.</p>
      </div>
      <div class="banner-content__form">
        <input type="email" placeholder="Email Address" />
        <button type="submit" class="btn">Speak to a Data Expert</button>
      </div>
      <div class="banner-content__links">
        <span>New</span>
        <a class="link--arrow" href="#">Depart to Heakthcare & insurance</a>
      </div>
    </div>
    <div class="banner-slider">
      <div class="banner-slider__item">
        <div class="banner-slider__text">
          "We trimmed months off development and reduces data provisioning time by 80%"
          <span class="font--small">Luis Aguiar</span>
        </div>
      </div>
    </div>
  </div>
</div> 