<div class="banner">
  <div class="banner-bg">
    <picture>
      <source media="(min-width: 1024px)" srcset="https://via.placeholder.com/1920x730.png">
      <source media="(min-width: 768px)" srcset="https://picsum.photos/1024/800">
      <img src="https://picsum.photos/400/300">
    </picture>
  </div>
  <div class="banner-content">
    <div class="container">
      <div class="banner-content__wrap">
        <div class="banner-content__left">
          <h1 class="banner-content__title">A New Approach to Enterprise Data Delivery & Access</h1>
          <div class="banner-content__description">
            <p>Personalized, secure, production-quality data that you can bookmark, version, refresh, restore, branch, and share. Ask us how.</p>
          </div>
          <div class="banner-content__form">
            <form>
              <input type="email" placeholder="Email Address" />
              <button type="submit" class="btn">Speak to a Data Expert</button>
            </form>
          </div>
          <div class="banner-content__links">
            <span class="prefix">New</span>
            <a class="link--arrow link--text" href="#">Depart to Heakthcare & insurance</a>
          </div>
        </div>
        <div class="banner-content__slider js-banner-slider">
          <div class="slider-item">
            <img src="https://picsum.photos/500/500" class="slider-image">
            <img src="https://picsum.photos/120/120" class="slider-image--small">
          </div>
          <!-- <div class="slider-item">
            <img src="https://picsum.photos/500/500" class="slider-image">
            <img src="https://picsum.photos/120/120" class="slider-image--small">
          </div>
          <div class="slider-item">
            <img src="https://picsum.photos/500/500" class="slider-image">
            <img src="https://picsum.photos/120/120" class="slider-image--small">
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>