.banner {
  position: relative; }

.banner-bg {
  line-height: 0; }
  .banner-bg img {
    width: 100%;
    height: auto; }

.banner-content {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

@media (min-width: 64em) {
  .banner-content__wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

@media (min-width: 48em) {
  .banner-content__title {
    margin-bottom: 40px; } }

@media (min-width: 48em) {
  .banner-content__description {
    margin-bottom: 40px; } }

.banner-content__description p {
  font-size: 1.5rem;
  letter-spacing: -0.3px;
  line-height: 1.5; }

@media (min-width: 64em) {
  .banner-content__left {
    width: 52%; } }

.banner-content__form {
  margin-bottom: 1.875rem; }
  @media (min-width: 48em) {
    .banner-content__form form {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 1.5625rem; } }
  .banner-content__form form input {
    height: auto;
    padding: 1.25rem;
    border: none;
    margin-right: 0;
    margin-bottom: 0.625rem; }
    @media (min-width: 48em) {
      .banner-content__form form input {
        width: 44%;
        margin-bottom: 0; } }
    @media (min-width: 80em) {
      .banner-content__form form input {
        width: 60%; } }
  .banner-content__form form button {
    padding: 1.125rem 0.625rem; }
    @media (min-width: 64em) {
      .banner-content__form form button {
        width: 51%; } }
    @media (min-width: 80em) {
      .banner-content__form form button {
        width: 40%; } }

.banner-content__links {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.5rem; }
  @media (min-width: 48em) {
    .banner-content__links {
      margin-bottom: 5rem; } }
  .banner-content__links .prefix {
    color: #1481d7;
    font-size: 0.75rem;
    line-height: 1;
    padding: 0.3125rem 0.8125rem;
    border: 0.0625rem solid #1481d7;
    text-transform: uppercase;
    border-radius: 0.375rem;
    margin-right: 0.625rem; }

@media (min-width: 64em) {
  .banner-content__slider {
    width: 40%; } }

@media (min-width: 80em) {
  .banner-content__slider {
    width: 32%; } }

.banner-content__slider .js-banner-slider {
  position: relative; }

.banner-content__slider .slick-arrow {
  position: absolute;
  background: white;
  padding: 0.9375rem;
  z-index: 2;
  right: 0;
  bottom: 0;
  line-height: 1;
  cursor: pointer; }
  .banner-content__slider .slick-arrow.left {
    right: 2.9375rem; }

.banner-content__slider .slider-item {
  position: relative;
  padding-bottom: 48px; }
  .banner-content__slider .slider-item .slider-image img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    max-height: 400px; }
  .banner-content__slider .slider-item .slider-image--small {
    position: absolute;
    right: 5.8125rem;
    bottom: 0; }
