%btn,
.btn {
  appearance: none;
  background-image: none;
  border-radius: 0;
  border: 2px solid $blue;
  box-shadow: none;
  display: inline-block;
  font-size: rem(18px);
  line-height: 1;
  outline: none;
  padding: 15px 25px;
  text-align: center;
  text-shadow: none;
  transition: all .5s ease;
  background-color: $blue;
  color: $white;
  cursor: pointer;
  outline: 0;

  &:active,
  &:hover {
    background-color: $blue;
    border-color: $blue;
    color: $white;
  }

  &--radius {
    border-radius: 50px;
    padding: 10px 20px;
  }

  &--white {
    background-color: transparent;
    border-color: $white;
    color: $white;

    &:active,
    &:hover {
      background-color: $blue;
      border-color: $blue;
      color: $white;
    }
  }
}

.link--arrow {

}