%btn,
.btn {
  @include Gilroy;
  font-size: rem(18px);
  font-weight: 600;
  padding: rem(17px 37px);
  background-color: $blue;
  color: $white;
  text-align: center;
  width: 100%;
  border: none;
  cursor: pointer;

  @include susy-media(tablet) {
    width: unset;
    display: inline-block;
  }

  &:active,
  &:hover {
    color: $white;
    background-image: radial-gradient(circle at 0 0,$blue, $navy);
  }

  &--radius {
    border-radius: rem(50px);
  }

  &--small {
    font-size: rem(18px);
    padding: rem(8px 20px);
  }

  &--medium {
    padding: rem(17px 22px);
  }

  &--long {
    font-size: rem(22px);
    padding: rem(11px 65px);
  }

  &--white {
    font-size: rem(18px);
    border-radius: 3px;
    padding: rem(15px 50px);
    border: 3px solid $white;
    background-color: transparent;
    color: $white;
  }
}
