%btn,
.btn {
  @include Gilroy;
  font-size: rem(18px);
  font-weight: 600;
  padding: rem(17px 37px);
  background-color: $btn-bg-color;
  color: $white;
  text-align: center;
  width: 100%;
  border: none;
  cursor: pointer;

  @include susy-media(tablet) {
    width: auto;
    display: inline-block;
  }

  &:active,
  &:hover {
    color: $white;
    @include gradient(circle, $primary-color, $secondary-color);
  }

  &--radius {
    border-radius: rem(50px);
  }

  &--small {
    padding: rem(8px 20px);
  }

  &--long {
    padding: rem(14px 40px);
    min-width: rem(245px);
  }

  &--transparent {
    color: $white;
    background-color: transparent;
    border: rem(3px) solid $white;
    border-radius: rem(3px);
  }
}
