//Clearfix

%clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

%flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
