.container {
  @include container();

  @include susy-media(tablet) {
    @include container($susy-tablet);
  }

  @include susy-media(desktop) {
    @include container($susy-desktop);
  }

  @include susy-media(desktopLarge) {
    @include container($susy-desktop-wide);
  }
}

.container--large {
  @include susy-media(desktopToSuperWide) {
    margin-left: rem(30px);
    margin-right: rem(30px);
    max-width: inherit;
  }

  @include susy-media(desktopSuperWide) {
    @include container($susy-desktop-superwide);
  }
}