.bg {
  &--primary {
    background-color: $primary-color;
  }

  &--white {
    background-color: $white;
  }

  &--black {
    background-color: $black;
  }

  &--gray {
    background-color: $gray;
  }
}

%font,
.font {
  &--bold {
    font-weight: 700;
  }

  &--medium {
    font-weight: 500;
  }

  &--italic {
    font-style: italic;
  }

  &--semi {
    font-size: rem(14px);
  }

  &--small {
    font-size: rem(12px);
  }

  // &--large {
  //   font-size: rem(23px);
  // }
}

.text {
  &--center {
    text-align: center;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--white {
    color: $white;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--underline {
    text-decoration: underline;
  }
}

.clearfix {
  @include clearfix;
}

.hidden {
  display: none;

  &--mobile {
    @include susy-media(mobileOnly) {
      display: none;
    }
  }
  
  &--tablet {
    @include susy-media(tabletOnly) {
      display: none;
    }
  }
  
  &--desktop {
    @include susy-media(desktop) {
      display: none;
    }
  }
}

.title-underline {
  position: relative;
  padding-bottom: rem(6px);
  
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: rem(45px);
    height: rem(2px);
    background: $primary-color;

    @include susy-media(tablet) {
      width: rem(73px);
    }
  }
}

.fields-inline {
  .field__item {
    margin-right: rem(6px);
    display: inline;

    &::after {
      content: "|";
      margin-left: 5px;
      display: inline-block;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}
