.bg {
  &--blue {
    background-color: $btn-bg-color;
  }

  &--white {
    background-color: $white;
  }

  &--black {
    background-color: $black;
  }

  &--gray {
    background-color: $gray;
  }
}

.font {
  &--bold {
    font-weight: 700;
  }

  &--medium {
    font-weight: 500;
  }

  &--italic {
    font-style: italic;
  }
}

.text {
  &--center {
    text-align: center;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--underline {
    text-decoration: underline;
  }
}

.clearfix {
  @include clearfix;
}
