.bg {
  &--blue {
    background-color: $blue;
  }

  &--white {
    background-color: $white;
  }

  &--gray {
    background-color: $gray;
  }
}

.font {
  &--bold {
    font-weight: 700;
  }

  &--medium {
    font-weight: 500;
  }

  &--italic {
    font-style: italic;
  }
}

.text {
  &--center {
    text-align: center;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--underline {
    text-decoration: underline;
  }
}

ul.list,
ol.list {
  li {
    padding-left: rem(35px);
    margin-bottom: rem(13px);
    position: relative;

    &:before {
      content: '\2022';
      position: absolute;
      display: block;
      top: rem(-10px);
      left: 0;
      margin-top: rem(10px);
      font-size: 1rem;
    }
  }
}
