// TYPOGRAPHY
// Define all typographic styles in this file.

h1,
h2,
h3,
h4,
h5,
h6 {
  @include Gilroy;
  font-weight: 500;
  line-height: 1.7;
  color: $black;
  margin-bottom: rem(15px);
}

.h1,
h1 {
  font-size: rem(30px);
  line-height: 1.35;
  letter-spacing: rem(0.5px);

  @include susy-media(tablet) {
    font-size: rem(56px);
    line-height: 1.3;
    letter-spacing: 0;
  }
}

.h2,
h2 {
  font-size: rem(30px);
  line-height: 1.4;
  letter-spacing: rem(1.25px);

  @include susy-media(tablet) {
    font-size: rem(42px);
    letter-spacing: 0;
  }
}

.h3,
h3 {
  font-size: rem(25px);
  letter-spacing: rem(-0.5px);

  @include susy-media(tablet) {
    font-size: rem(30px);
    letter-spacing: rem(0.5px);;
  }
}

.h4,
h4 {
  font-size: rem(22px);
}

.h5,
h5 {
  font-size: rem(20px);
}

.h6,
h6 {
  font-size: rem(18px);
}

p {
  font-size: rem(18px);
  line-height: 1.65;
  margin-bottom: rem(15px);
}

em {
  font-style: italic;
}

b,
strong {
  font-weight: 700;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
}

small {
  font-size: smaller;
}

abbr {
  border-bottom: 1px dotted $text-color;
  cursor: help;
}

tt,
code,
kbd,
samp {
  font-family: monospace;
}

blockquote {
  @include LibreBaskerville;
  font-style: italic;
  display: block;

  &:before {
    @extend %icons;
    content: $icon-quote;
    color: $secondary-color;
    display: block;
    margin-bottom: rem(15px);
  }
}

%link,
.link {
  color: $link-color;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;

  &:active,
  &:hover {
    color: $link-color-hover;
  }

  &--arrow {
    display: flex;
    align-items: center;

    &:after {
      @extend %icons;
      content: $icon-read-more;
      margin-left: 8px;
      color: $link-color;
      transition: all 0.3s ease;
    }
  
    &:active,
    &:hover {
      &:after {
        color: $link-color-hover;
      }
    }
  }

  &--text {
    color: $text-color;

    &:active,
    &:hover {
      color: $link-color-hover;
    }
  }

  &--white {
    color: $white;

    &:after {
      color: $white;
    }

    &:active,
    &:hover {
      color: darken($white, 20%);

      &:after {
        color: darken($white, 20%);
      }
    }
  }
}

a {
  @extend %link;
}

%list,
.list {
  li {
    padding-left: rem(35px);
    margin-bottom: rem(13px);
    position: relative;

    &:before {
      content: '\2022';
      position: absolute;
      display: block;
      top: rem(-10px);
      left: 0;
      position: absolute;
      margin-top: rem(8px);
    }
  }

  &--ol {
    list-style: decimal;
    padding: rem(0 18px);
  
    li {
      padding-left: rem(15px);
  
      &:before {
        content: none;
      }
    }
  }
}

.list-wrap {
  ul {
    @extend %list;
  }

  ol {
    @extend %list--ol;
  }
}