.footer {
  padding: rem(60px 0);

  a {
    @extend %link--text;
    font-size: rem(12px);

    @include susy-media(desktop) {
      font-size: rem(14px);
    }
  }
}

// footer column
.footer-column {
  @include susy-media(desktop) {
    margin-bottom: rem(40px);
  }

  .block-footer-menu {
    @include susy-media(desktop) {
      @include span(2 of $susy-desktop);

      &:last-child {
        margin-right: 0;
      }
    }

    ul.menu {
      li {
        margin-bottom: 17px;
      }
    }
  }
}

.footer-column__title {
  text-transform: uppercase;
}

.footer-column__logo {
  line-height: 0;
  margin-bottom: 30px;
}

.footer-column__social {
  @include susy-media(mobiletablet) {
    text-align: center;
  }

  a {
    margin-right: rem(35px);

    &:last-child {
      margin-right: 0;
    }
  }
}

// footer bottom
.footer-bottom {
  @include susy-media(desktop) {
    display: flex;
    align-items: center;
  }
}

.footer-bottom__legal {
  width: 100%;

  @include susy-media(desktop) {
    @include span(6 of $susy-tablet);
  }

  @include susy-media(desktop) {
    @include span(10 of $susy-desktop);
  }

  ul.menu {
    display: flex;
    align-items: center;

    @include susy-media(mobiletablet) {
      justify-content: center;
    }

    li {
      padding: rem(10px 6px);

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
        
      a {
        font-size: rem(12px);
      }
    }
  }
}

.footer-bottom__copyright {
  @include susy-media(mobiletablet) {
    text-align: center;
  }

  span {
    font-size: rem(12px);
  }
}
