.footer {
  padding: rem(40px 0);

  @include susy-media(desktop) {
    padding: rem(60px 0);
  }
}

.footer-top {
  @include susy-media(desktop) {
    margin-bottom: rem(40px);
  }
}

.footer-top__col {
  @include susy-media(desktop) {
    @include span(2 of $susy-desktop);

    &:last-child {
      margin-right: 0;
    }
  }

  ul.menu {
    li {
      margin-bottom: rem(17px);
    }
  }
}

.footer-top__logo {
  line-height: 0;
  margin-bottom: rem(30px);
}

.footer-bottom {
  text-align: center;

  @include susy-media(desktop) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.footer-bottom__legal {
  margin-bottom: rem(33px);

  @include susy-media(desktop) {
    width: span(10 of $susy-desktop);
    text-align: left;
    margin-bottom: 0;
  }

  ul.menu {
    li {
      margin-right: rem(15px);

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.footer-bottom__copyright {
  line-height: 1;

  @include susy-media(desktop) {
    width: span(2 of $susy-desktop);
    text-align: right;
  }
}
