.header-top {
  padding: rem(10px 0);

  ul.menu {
    li {
      display: inline-block;

      a {
        margin-left: rem(40px);
      }
    }
  }
}

.header-main__wrap {
  @include susy-media(desktop) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.header-main__left {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include susy-media(desktop) {
    flex-grow: 1;
  }

  a {
    display: block;
    line-height: 0;
  }
}

.header-main__menu {
  @include susy-media(desktop) {
    flex-grow: 8;
  }
}

.header-main__right {
  @include susy-media(desktop) {
    flex-grow: 1;
  }

  form.search-form {
    display: inline;
    cursor: pointer;

    i:before {
      font-size: rem(11px);
      margin-left: rem(13px);
    }
  }
}

.header-main__hamburger {
  position: relative;
  height: rem(40px);
  width: rem(40px);
  margin-right: rem(-10px);
  cursor: pointer;

  span {
    position: absolute;
    top: rem(12px);
    left: 50%;
    width: rem(25px);
    border-bottom: rem(2px) solid #000;
    transform: translateX(-50%);
    transition: transform .3s;

    &:nth-child(2) {
      top: rem(20px);
    }

    &:nth-child(3) {
      top: rem(28px);
    }
  }
}