<div>
  <h4>Modifier for dev</h4>
  <p><b>This is ul list</b></p>
  <ul class="list">
    <li>The top predictors of DevOps success</li>
    <li>The surprising data risks faced by DevOps adopters</li>
    <li>Emerging tools for quickly creating production-like dev/test environments</li>
  </ul>
  <p><b>This is ol list</b></p>
  <ol class="list list--ol">
    <li>The top predictors of DevOps success</li>
    <li>The surprising data risks faced by DevOps adopters</li>
    <li>Emerging tools for quickly creating production-like dev/test environments</li>
  </ol>
</div>

<div class="list-wrap">
  <h4>On CKEditor</h4>
  <p><b>This is ul list</b></p>
  <ul>
    <li>The top predictors of DevOps success</li>
    <li>The surprising data risks faced by DevOps adopters</li>
    <li>Emerging tools for quickly creating production-like dev/test environments</li>
  </ul>
  <p><b>This is ol list</b></p>
  <ol>
    <li>The top predictors of DevOps success</li>
    <li>The surprising data risks faced by DevOps adopters</li>
    <li>Emerging tools for quickly creating production-like dev/test environments</li>
  </ol>
</div>
