<div class="list">
  <p>This is ul list</p>
  <ul>
    <li>The top predictors of DevOps success</li>
    <li>The surprising data risks faced by DevOps adopters</li>
    <li>Emerging tools for quickly creating production-like dev/test environments</li>
  </ul>
  <p>This is ol list</p>
  <ol>
    <li>The top predictors of DevOps success</li>
    <li>The surprising data risks faced by DevOps adopters</li>
    <li>Emerging tools for quickly creating production-like dev/test environments</li>
  </ol>
</div>
