<div style="display: flex;">
  <span class="icon-search"></span>
  <span class="icon-twitter"></span>
  <span class="icon-facebook"></span>
  <span class="icon-linkedin"></span>
  <span class="icon-arrow-down"></span>
  <span class="icon-arrow-right"></span>
  <span class="icon-arrow-link"></span>
</div>
