<p><a class="btn">Apply</a></p>
<p><a class="btn btn--radius btn--small">Get a Demo</a></p>
<p></p>
<div class="bg--black" style="padding: 20px;">
  <a class="btn btn--long btn--transparent">Talk to an Expert</a>
  <a class="btn btn--long">Contact Us</a>
</div>
