<div style="padding: 20px;">
  <a class="btn">Apply</a>
  <p></p>
  <a class="btn btn--medium">Speak to a Data Expert</a>
  <p></p>
  <a class="btn btn--long">Contact Us</a>
  <p></p>
  <a class="btn btn--radius btn--small">Get a Demo</a>
</div>

<div class="bg--blue" style="padding: 20px;">
  <a class="btn btn--white">Talk to an Expert</a>
</div>