<div class="bg--gray" style="padding: 30px 20px;">
  <form>
    <input type="email" placeholder="Email Address" />
    <button type="submit" class="btn btn--medium">Speak to a Data Expert</button>
  </form>
</div>
