<footer class="footer">
  <div class="container">
    <div class="footer-column">
      <div class="footer-column__first">
        <div class="footer-column__logo">
          <a href="/" title="Home" rel="home" class="logo">
            <img src="../../../../../../images/demo-logo.png" alt="Home">
          </a>
        </div>
        <div class="footer-column__social">
          <ul class="menu flex">
            <li class="menu-item">
              <a href="#" class="icon-facebook" target="">
                <span class="icon-facebook"></span>
              </a>
            </li>
            <li class="menu-item">
              <a href="#" class="icon-linkedin" target="">
                <span class="icon-linkedin"></span>
              </a>
            </li>
            <li class="menu-item">
              <a href="#" class="icon-twitter" target="">
                <span class="icon-twitter"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-column__second flex">
        <div class="block-footer-menu">
          <h3 class="footer-column__title">Product</h3>
          <ul class="menu">
            <li class="menu-item">
              <a href="#">Overview</a>
            </li>
            <li class="menu-item">
              <a href="#">Continuous Data</a>
            </li>
            <li class="menu-item">
              <a href="#">Continuous Compliance</a>
            </li>
            <li class="menu-item">
              <a href="#">Sources</a>
            </li>
            <li class="menu-item">
              <a href="#">Integrations</a>
            </li>
          </ul>
        </div>
        <div class="block-footer-menu">
          <h3 class="footer-column__title">Solutions</h3>
          <ul class="menu">
            <li class="menu-item">
              <a href="#">DevOps &amp; CI/CD</a>
            </li>
            <li class="menu-item">
              <a href="#">Test Data Management</a>
            </li>
            <li class="menu-item">
              <a href="#">Cloud</a>
            </li>
            <li class="menu-item">
              <a href="#">AI/ML</a>
            </li>
            <li class="menu-item">
              <a href="#">ERP Transformation</a>
            </li>
            <li class="menu-item">
              <a href="#">Site Reliability Engineering</a>
            </li>
            <li class="menu-item">
              <a href="#">Ransomware</a>
            </li>
            <li class="menu-item">
              <a href="#">Financial Services &amp; Banking</a>
            </li>
            <li class="menu-item">
              <a href="#">Insurance</a>
            </li>
            <li class="menu-item">
              <a href="#">Telecom</a>
            </li>
          </ul>
        </div>
        <div class="block-footer-menu">
          <h3 class="footer-column__title">Company</h3>
          <ul class="menu">
            <li class="menu-item">
              <a href="#">About</a>
            </li>
            <li class="menu-item">
              <a href="#">Vision</a>
            </li>
            <li class="menu-item">
              <a href="#">Leadership</a>
            </li>
            <li class="menu-item">
              <a href="#">News</a>
            </li>
            <li class="menu-item">
              <a href="#">Blogs</a>
            </li>
            <li class="menu-item">
              <a href="#">Careers</a>
            </li>
            <li class="menu-item">
              <a href="#">Partners</a>
            </li>
            <li class="menu-item">
              <a href="#">Contact</a>
            </li>
          </ul>
        </div>
        <div class="block-footer-menu">
          <h3 class="footer-column__title">Resources</h3>
          <ul class="menu">
            <li class="menu-item">
              <a href="#">Customers</a>
            </li>
            <li class="menu-item">
              <a href="#">Webinars</a>
            </li>
            <li class="menu-item">
              <a href="#">White Papers</a>
            </li>
            <li class="menu-item">
              <a href="#">Solutions Briefs</a>
            </li>
            <li class="menu-item">
              <a href="#">Data Sheets</a>
            </li>
            <li class="menu-item">
              <a href="#">Events</a>
            </li>
          </ul>
        </div>
        <div class="block-footer-menu">
          <h3 class="footer-column__title">Support</h3>
          <ul class="menu">
            <li class="menu-item">
              <a href="#">Product Documentation</a>
            </li>
            <li class="menu-item">
              <a href="#">Knowledge Base</a>
            </li>
            <li class="menu-item">
              <a href="#">Delphix Academy</a>
            </li>
            <li class="menu-item">
              <a href="#">Community</a>
            </li>
            <li class="menu-item">
              <a href="#">Support</a>
            </li>
            <li class="menu-item">
              <a href="#">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom flex-desktop">
      <div class="footer-bottom__legal">
        <ul class="menu flex">
          <li class="menu-item">
            <a href="#"> Privacy Policy</a>
          </li>
          <li class="menu-item">
            <a href="#">Terms of Use </a>
          </li>
          <li class="menu-item">
            <a href="#">Legal </a>
          </li>
          <li class="menu-item">
            <a href="#">Sitemap</a>
          </li>
        </ul>
      </div>
      <div class="footer-bottom__copyright">
        <p>© 2022 Delphix</p>
      </div>
    </div>
  </div>
</footer>
